@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");

/* font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */

:root {
	--sm: 375px;
	--font-crimson-pro: "Crimson Pro", serif;
	--font-lora: "Lora", serif;
	--font-montserrat: "Montserrat", sans-serif;
	--bg-black: #181719;
	--color-white: #ffffff;
	--color-grey1: #828282;
	--color-grey2: #a9a9a9;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--color-white);
}

body {
	max-width: 1440px;
	margin: 0 auto;
	padding: 42px 77px 24px 77px;
	background-color: var(--bg-black);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

header {
	margin-bottom: 177px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-brand {
	padding: 8px;
	font-family: var(--font-crimson-pro);
	font-weight: 200;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	border: 1px solid #ffffff;
}

.navbar-nav {
	display: flex;
	gap: 86px;
	z-index: 1;
}

.nav-link {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	font-family: var(--font-montserrat);
	padding: 8px;
}

.active {
	border-bottom: 2px solid #ffffff;
}

#hamburger i,
#close i {
	font-size: 30px;
}

#hamburger,
#close {
	display: none;
	z-index: 2;
}

main {
	display: flex;
	margin-bottom: 239px;
}

.left-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 140px;
}

.interior-title {
	font-family: var(--font-lora);
	font-weight: 500;
	font-size: 48px;
	line-height: 61px;
	margin-bottom: 40px;
}

.interior-description {
	font-family: var(--font-montserrat);
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	width: 410px;
	margin-bottom: 48px;
}

.interior-more {
	font-family: var(--font-montserrat);
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.interior-more i {
	margin-left: 14px;
}

.right-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.right-container > img {
	width: 100%;
	object-fit: cover;
}

.profile {
	position: absolute;
	padding: 18px 26px 34px 18px;
	top: 85%;
	right: 5%;
	background-color: #181719;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-header {
	display: flex;
	align-items: center;
	gap: 13px;
	margin-bottom: 25px;
}

.profile-header img {
	width: 50px;
	border-radius: 37px;
}

.profile-name,
.profile-title {
	font-family: var(--font-montserrat);
}

.profile-name {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--color-white);
}

.profile-title {
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: var(--color-grey1);
}

.profile-text {
	font-family: var(--font-lora);
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	width: 287px;
}

footer p {
	text-align: center;
	font-family: var(--font-montserrat);
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}

@media screen and (max-width: 375px) {
	body {
		padding: 19px 12px 24px 12px;
	}

	header {
		margin-bottom: 38px;
	}

	.collapse {
		position: absolute;
		min-height: 100vh;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: var(--bg-black);
		z-index: 4;
		display: none;
	}

	.navbar-nav {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	#hamburger {
		display: block;
	}

	#close {
		text-align: end;
		margin-top: 22px;
		margin-right: 20px;
	}

	.close {
		display: none !important;
	}

	.open {
		display: block !important;
	}

	main {
		flex-direction: column;
		gap: 37px;
		margin-bottom: 148px;
	}

	.interior-title {
		font-size: 36px;
		line-height: 46px;
	}

	.interior-description {
		font-size: 14px;
		line-height: 17px;
		width: 250px;
	}

	.interior-more {
		font-size: 14px;
		line-height: 17px;
	}

	.profile {
		padding: 17px 71px 25px 19px;
	}

	.profile-header img {
		width: 37px;
	}

	.profile-name {
		font-size: 12px;
		line-height: 15px;
	}

	.profile-title {
		font-size: 10px;
		line-height: 12px;
	}

	.profile-text {
		width: 210px;
		font-size: 18px;
		line-height: 23px;
	}

	footer p {
		font-size: 14px;
		line-height: 17px;
	}
}
